{{!--
Waveform partial
-------------------
Arguments:
- waveformContainer: string (id of container)
- waveformFilePath: string (id of container)
- waveformPlayPause: boolean=true (show play/pause button)
- waveformPlayOnStart: boolean=true (play on start)

--}}

<div id="{{waveformContainer}}"></div>

{{#if waveformPlayPause}}
<p align="center">
  <button class="btn btn-primary" onclick="wavesurfer.playPause()">
    Play/Pause
  </button>
</p>
{{/if}}

<script src="/wavesurfer/wavesurfer.min.js"></script>
{{!--
Real source:
<script src="./../node_modules/wavesurfer.js/dist/wavesurfer.js"></script>


WaveSurfer - Default parameter:

{
    audioContext: null,
    audioRate: 1,
    autoCenter: true,
    backend: 'WebAudio',
    barHeight: 1,
    barGap: null,
    container: null,
    cursorColor: '#333',
    cursorWidth: 1,
    dragSelection: true,
    fillParent: true,
    forceDecode: false,
    height: 128,
    hideScrollbar: false,
    interact: true,
    loopSelection: true,
    maxCanvasWidth: 4000,
    mediaContainer: null,
    mediaControls: false,
    mediaType: 'audio',
    minPxPerSec: 20,
    normalize: false,
    partialRender: false,
    pixelRatio: window.devicePixelRatio || screen.deviceXDPI / screen.logicalXDPI,
    plugins: [],
    progressColor: '#555',
    removeMediaElementOnDestroy: true,
    renderer: _drawer2.default,
    responsive: false,
    scrollParent: false,
    skipLength: 2,
    splitChannels: false,
    waveColor: '#999',
    xhr: {}
}

--}}

<script>
const wavesurfer = WaveSurfer.create({
    container: '#{{waveformContainer}}',
    waveColor: '#145dd1',
    progressColor: '#b2b2b2',
    cursorColor: '#ff8c00',
    splitChannels: false,
    height: 64,
    width: 200,
    cursorWidth: 2,
    responsive: true,
    mediaControls: true,
    fillParent: true,
    hideScrollbar: true
})
wavesurfer.on('ready', () => {
    {{#if waveformPlayOnStart}}
        wavesurfer.play();
    {{/if}}
})
wavesurfer.load('{{waveformFilePath}}')
</script>
