{{!--
Description:

Waveform partial
-------------------
Arguments:
- waveformContainer: string (id of container)
- waveformFilePath: string (id of container)
- waveformPlayPause: boolean=true (show play/pause button)
- waveformPlayOnStart: boolean=true (play on start)

--}}
<div class="container">

    <div id="waveformContainer"></div>

    <form action="#">
        <p class="range-field">
            <input type="range" id="musicRange" min="0" max="100" />
        </p>
        <input type="hidden" id="songFile" value="{{waveformFilePath}}">
    </form>

    <div class="center-align">
        <a class="btn-floating btn-large waves-effect waves-light blue" id="fast-rewind-button">
            <i class="material-icons">fast_rewind</i>
        </a>
        <a class="btn-floating btn-large waves-effect waves-light blue" id="play-pause-button">
            <i id="play-pause-icon" class="material-icons">play_arrow</i>
        </a>
        <a class="btn-floating btn-large waves-effect waves-light blue" id="fast-forward-button">
            <i class="material-icons">fast_forward</i>
        </a>
    </div>
</div>

<script src="/wavesurfer/wavesurfer.min.js"></script>
<script src="/wavesurfer/plugin/wavesurfer.cursor.min.js"></script>
<script src="/js/wavesurferAudioHandler.js"></script>

{{!--
Real source:
<script src="./../../node_modules/wavesurfer.js/dist/wavesurfer.js"></script>

WaveSurfer.create(options) = wavesurfer
- options: http://wavesurfer-js.org/docs/options.html
- wavesurfer methods: http://wavesurfer-js.org/docs/methods.html
- wavesurfer events: http://wavesurfer-js.org/docs/events.html

--}}
