{{!--
 Description:

Waveform partial
-------------------
Arguments:
- waveformContainer: string (id of container)
- waveformFilePath: string (id of container)
- waveformPlayPause: boolean=true (show play/pause button)
- waveformPlayOnStart: boolean=true (play on start)

--}}

<div id="{{waveformContainer}}" style="    max-width:800px;height:128px;"></div>

{{#if waveformPlayPause}}
<p align="center">
  <button id="playPauseButton">Play/Pause</button><br>
  <button id="timeButton">Time:</button>
</p>
{{/if}}

<script src="/wavesurfer/wavesurfer.min.js"></script>
<script src="/wavesurfer/plugin/wavesurfer.cursor.min.js"></script>
{{!--
Real source:
<script src="./../../node_modules/wavesurfer.js/dist/wavesurfer.js"></script>

WaveSurfer.create(options) = wavesurfer
- options: http://wavesurfer-js.org/docs/options.html
- wavesurfer methods: http://wavesurfer-js.org/docs/methods.html
- wavesurfer events: http://wavesurfer-js.org/docs/events.html

--}}

<script>

var wavesurfer;

// Init & load
document.addEventListener('DOMContentLoaded', () => {

wavesurfer = WaveSurfer.create({
    container: '#{{waveformContainer}}',
    waveColor: '#808080',
    progressColor: '#000000',
    cursorColor: '#000000',
    splitChannels: false,
    normalize: true,
    height: 128,
    width: 200,
    cursorWidth: 1,
    responsive: true,
    mediaControls: true,
    fillParent: true,
    hideScrollbar: true,
    plugins: [WaveSurfer.cursor.create()]
})
wavesurfer.on('ready', () => {
    {{#if waveformPlayOnStart}}
        wavesurfer.play();
    {{/if}}
})
{{#if waveformPlayPause}}
let interval
const onPlay = () => {
    interval = setInterval(() => document.getElementById('timeButton').innerText = 'Time: ' + wavesurfer.getCurrentTime(), 40)
}
const onPause = () => {
    clearInterval(interval)
    document.getElementById('timeButton').innerText = 'Time: [Paused] ' + wavesurfer.getCurrentTime()
}
document.getElementById('playPauseButton').addEventListener('click', () => {wavesurfer.playPause()})
{{/if}}

wavesurfer.on('finish', () => console.log('finish'))
wavesurfer.on('play', () => {
    console.log('play')
    {{#if waveformPlayPause}}
    onPlay()
    {{/if}}
})
wavesurfer.on('pause', () => {
    console.log('pause')
    {{#if waveformPlayPause}}
    onPause()
    {{/if}}
})
wavesurfer.on('seek', () => {
    console.log('seek')
    {{#if waveformPlayPause}}
    if (wavesurfer.isPlaying()) {
        onPlay()
    } else {
        onPause()
    }
    {{/if}}
})

wavesurfer.load('{{waveformFilePath}}')

})
</script>
