# node
# -------------------

# ignore node modules
node_modules
node_modules_bak

# ignore large package.json
package-lock.json


# data
# -------------------

# ignore databases
*.db
*.db-shm
*.db-wal

# ignore builds
build

# ignore locally created documentations
docs

# ignore https certificates/dh parameter
dh
http2

# ignore test files
test

# ignore log files
log

# ignore upload files
uploads

# ignore rendered handlebars files
*.html

# ignore image files
*.png
*.jpg




# environments
# -------------------

# ignore VisualStudioCode
.vscode
