# node
# -------------------

# ignore node modules
node_modules

# ignore large package.json
package-lock.json


# data
# -------------------

# ignore binary databases
*.db

# ignore binary builds
karaokemanager2-database-linux
karaokemanager2-database-macos
karaokemanager2-database-win.exe

# ignore locally created documentations
docs

# ignore https certificates
https
http2

# ignore test files
test

# ignore log files
log

# environments
# -------------------

# ignore VisualStudioCode
.vscode
http2/server.crt
