# node
# -------------------

# ignore node modules
node_modules

# ignore large package.json
package-lock.json


# data
# -------------------

# ignore databases
*.db

# ignore builds
build

# ignore locally created documentations
docs

# ignore https certificates/dh parameter
dh
http2

# ignore test files
test

# ignore log files
log


# environments
# -------------------

# ignore VisualStudioCode
.vscode
