{{!--
Description:
Home body template (Search bar, Current Playlist)
--}}

{{> materialize_partial_nav_bar}}

<main>

{{!-- Display a search bar for songs/artists --}}
{{> materialize_partial_search_bar}}
<!-- TODO: Create search bar partial template with materialize.css -->

{{!-- Display the current playlist --}}
{{> materialize_partial_list_playlist}}
<!-- TODO: Create playlist partial template with materialize.css -->

</main>

{{> materialize_partial_fab}}

{{> materialize_partial_footer}}
