{{!--
Description:
Home body template (Search bar, Current Playlist)
--}}

{{> materialize_partial_nav_bar}}

<main>

{{> materialize_partial_search_bar}}

{{> materialize_partial_list_playlist}}

</main>

{{> materialize_partial_fab}}

{{> materialize_partial_footer}}
