{{!--
Description:
Login/Register page template (Needs materialize css, js)
--}}

<div class="valign-wrapper" style="width:100%;height:100%;position: absolute;">
	<div class="valign" style="width:100%;">

		<div class="container">
			<div class="col s12 m10 l8 offset-s0 offset-m1 offset-l2 valign">

				<div class="card">
					<div class="card-content black-text">
						<div class="row">
							<span class="card-title">Login/Register</span>
						</div>

						<form id="loginRegisterForm" class="valign" action="/account/action/login" method="post">
							<div class="row">
								<div class="input-field col s12">
									<i class="material-icons prefix">account_circle</i>
									<input class="validate" id="input_account_id" name="account_id" placeholder="Your account id..." pattern="^\w{4,16}$"
									 maxlength="16" title="The user name needs to be unique and at least 4 but maximal 16 characters long and contain only word characters (no spaces or /#*+...)"
									 autocomplete="username" type="text" required>
									<label for="input_account_id">Account id</label>
								</div>
							</div>
							<div class="row">
								<div class="input-field col s12">
									<i class="material-icons prefix">vpn_key</i>
									<input class="validate" id="input_account_password" name="account_password" placeholder="Your account password..."
									 pattern=".{6,}" title="The password needs to be at least 6 characters long" autocomplete="current-password"
									 type="password" required>
									<label for="input_account_password">Password</label>
								</div>
							</div>
							<input type="submit" style="display:none" />
						</form>

					</div>
					<div class="card-action">
						<a id="loginAction" class="waves-effect waves-light btn-large blue"><i class="material-icons left">lock_open</i>Login</a>
						<a id="registerAction" class="waves-effect waves-light btn-large blue"><i class="material-icons left">person_add</i>Register</a>
					</div>
				</div>

			</div>
		</div>

	</div>
</div>

{{!-- Special script to handle post request buttons to login/register --}}
<script src="/js/loginRegister.js"></script>
