{{!--
Description:
Materialize.css/.js landing page body
--}}

{{> materialize_partial_nav_bar}}

{{> materialize_partial_card_banner}}

<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    {{#if featureRow}}
    {{> materialize_partial_card_feature_row featureRowObject}}
    {{/if}}
  </div>
  <br><br>
</div>


{{> materialize_partial_footer}}
