{{!--
Description:
Materialize.css/.js landing page body
--}}

{{> materialize_partial_nav_bar}}

<main>

{{> materialize_partial_card_banner}}

{{#if featureRow}}
{{> materialize_partial_card_feature_row featureRowObject}}
{{/if}}

</main>

{{> materialize_partial_fab}}

{{> materialize_partial_footer}}
