<h1>Hello World! - {{text}}</h1>
<div id="future"></div>
<form id="form" id="chat_form">
    <input id="chat_input" type="text">
    <input type="submit" value="Send">
</form>
<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io.connect('{{socketAddress}}')
    socket.on('connect', (data) => {
        socket.emit('join', 'hello server')
    })

    // overwrite form submission
    form.onsubmit = (event) => {
        event.preventDefault()
        socket.emit('join', document.getElementById('chat_input').value)
        document.getElementById('chat_input').value = ''
        return false
    }
</script>
