{{!-- http://www.sitepoint.com/file-upload-form-express-dropzone-js/ --}}
<form id="uploadWidget" method="post" action="/upload/image" class="dropzone">
    <div class="fallback">
        <input name="file" type="file" />
    </div>
    {{!-- Hidden input for token --}}
    <input type="hidden" id="token" value="{{xCsrfToken}}">
</form>

{{!-- Special script to handle dropzone --}}
<script src="/js/dropzone.js"></script>
