{{!--
Description:
Welcome page
- Welcome new user
- Provide links to essential pages
- List features of this platform
--}}

{{> materialize_partial_nav_bar}}

<main>

{{> materialize_partial_card_banner}}

{{> materialize_partial_card_feature_row}}

</main>

{{> materialize_partial_fab}}

{{> materialize_partial_footer}}
